<div id="choices" class="grid grid-flow-col gap-1 w-full">
  <div class="col-span-1">
    <%= label_tag "survey[questions][][options][]", "Option 1" %>
    <%= text_field_tag "survey[questions][][options][]", nil, class: "w-full" %>
  </div>
  <div class="col-span-1">
    <%= label_tag "survey[questions][][options][]", "Option 2" %>
    <%= text_field_tag "survey[questions][][options][]", nil, class: "w-full" %>
  </div>
  <div class="col-span-1">
    <%= label_tag "survey[questions][][options][]", "Option 3" %>
    <%= text_field_tag "survey[questions][][options][]", nil, class: "w-full" %>
  </div>
  <div class="col-span-1">
    <%= label_tag "survey[questions][][options][]", "Option 4" %>
    <%= text_field_tag "survey[questions][][options][]", nil, class: "w-full" %>
  </div>
<div>
