<div class="gap-2 border-2 border-gray-600 p-4 mt-1" id=<%= "question_#{id}" %>>
  <div class="flex gap-2 justify-center justify-items-center" onload="loadQuestionBasedOnType(0)">
    <div class="">
      <% if question.nil? then %>
        <%= label_tag "survey[questions_attributes][][question_types_id]", "Type", class: "block"%>
        <%= select_tag "survey[questions_attributes][][question_types_id]",
          options_for_select(question_types, "open_answer"),
          onchange: "loadQuestionBasedOnType(#{id})", class: "mt-auto h-10",
          id: "survey_questions_#{id}_question_types_id"%>
      <%else%>
        <%= content_tag :div, class: "mt-auto h-10" do
          question.question_types_id
        end %>
      <%end%>
    </div>

    <div class="ml-4 w-3/4">
      <% if question.nil? then %>
        <%= label_tag "survey[questions_attributes][][question]", "Question",  class: "block"%>
        <%= text_field_tag "survey[questions_attributes][][question]", nil, class: "w-full h-10"%>
      <% else %>
          <%= content_tag :div, class: "" do
            question.question
          end %>
      <% end %>
    </div>
    <%= button_tag "Delete", type: "button",
      class: "col-span-1 text-white bg-red-600 hover:bg-red-400 rounded-lg text-sm mt-auto h-10 w-32",
      onclick: "deleteQuestion(#{id})"%>
  </div>
  <div>
    <%if question.nil? then%>
      <%= content_tag :div, id: "question_#{id}_answers", class: "" do
      end%>
    <% end %>
  </div>
</div>

