<div class="nested-fields gap-2 border-2 border-gray-600 p-4 mt-1 col-span-full">
  <div class="flex flex-wrap gap-2 justify-center justify-items-center">
    <div class="">
      <%= f.label :question_types_id, "Type", class: "block" %>
      <%= f.select :question_types_id,
                   options_for_select(@question_types, f.object.question_types_id || "open_answer"),
                   {},
                   class: "mt-auto h-10", onchange: "loadQuestionBasedOnType($(this))" %>
    </div>

    <div class="ml-4 w-3/4">
      <%= f.label :question, "Question", class: "block" %>
      <%= f.text_field :question, class: "w-full h-10" %>
    </div>
    <div id="closed_answers" class="grid-cols-full flex gap-4" style="<%= if f.object.question_types_id != "closed_answer"
                                                                 "display: none"
                                                               end %>">
      <% if action_name == "edit" %>
        <% f.object.options.each do |option| %>
          <%= render "questions/closed", f: f, option: option%>
        <% end %>
      <% else %>
        <% (0..3).each do |index| %>
          <%= render "questions/closed", f: f, option: nil%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
