<%= form_for @survey do |f| %>
  <div class="grid grid-cols-4 mt-4">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :id, value: @survey.id %>
    <%= render "shared/model_errors_flash", model: survey %>

    <div class="col-span-1">
      <%= f.label :title, "Survey name", class: "block" %>
      <%= f.text_field :title %>
    </div>

    <div class="col-span-full mt-4"> Questions</div>
    <div id="questions" class="col-span-full mt-1">
      <%= f.fields_for :questions do |question_form|
        render 'questions/form', f: question_form
      end %>
    </div>
    <div class="col-span-full mt-4 text-right">
      <%= link_to_add_association button_tag("Add Question",
                                             class: "text-white bg-blue-600 hover:bg-blue-400 rounded-lg p-2 w-32 h-10"),
                                  f, :questions, partial: 'questions/form' %>
      <div class="mt-4">
        <%= link_to surveys_path do
          button_tag "Back to surveys",
                     class: "text-white bg-red-600 hover:bg-red-400 rounded-lg p-2 h-10"
        end %>

        <%= button_tag "Submit",
                       class: "text-white bg-green-600 hover:bg-green-400 rounded-lg p-2 w-34 h-10 pointer-events-auto" %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    function loadQuestionBasedOnType(el) {
        console.log(el)
        let type = el.val();
        console.log(type);
        let questionAnswers = el.parent().parent().children("#closed_answers")
        console.log(questionAnswers)

        switch (type) {
            case "true_false":
            case "open_answer":
                questionAnswers.hide();
                break;
            case "closed_answer":
                questionAnswers.show();
                break;
            default:
                throw "Invalid question type";
        }
    }

</script>