<h1 class="text-center text-3xl font-bold my-4"><%= @survey.title %></h1>
<%= form_for @survey, method: "post", url: survey_answers_path(@survey), html: { class: "grid grid-cols-5", id: "answer-form" } do |f| %>
  <%= f.fields_for :questions do |ff| %>
    <%= ff.hidden_field :question_id, value: ff.object.id %>
    <div class="border-gray-800 border-b border-collapse col-span-3 col-start-2 grid mb-1">
      <h3 class="text-xl font-bold mb-1"><%= ff.object.question %></h3>
      <% if ff.object.question_types_id == "open_answer" %>
        <%= ff.text_field :answer, class: "mb-1", required: true %>
      <% elsif ff.object.question_types_id == "closed_answer" then %>
        <div class="flex justify-around my-1">
          <% ff.object.options.each do |option| %>
            <div>
              <%= ff.radio_button :answer, option, required: true %>
              <%= ff.label :answer, option %>
            </div>
          <% end %>
        </div>
      <% elsif ff.object.question_types_id == "true_false" then %>
        <div class="flex justify-center gap-32 my-1">
          <div>
            <%= ff.radio_button :answer, "true", required: true %>
            <%= ff.label :answer, "True" %>
          </div>
          <div>
            <%= ff.radio_button :answer, "false", required: true %>
            <%= ff.label :answer, "False" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="text-right mt-4">
  <%= button_tag "Submit", form: "answer-form", class: "text-white bg-green-600 hover:bg-green-400 rounded-lg p-2 text-sm my-2 col-start-5" %>
  <% if current_user == @survey.user %>
    <%= link_to "Edit",
                edit_survey_path(@survey),
                class: "text-white bg-yellow-600 hover:bg-yellow-400 rounded-lg p-2 text-sm my-2 col-start-5" %>
    <%= link_to "Destroy this survey",
                @survey,
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "text-white bg-red-600 hover:bg-red-400 rounded-lg p-2 text-sm my-2 col-start-5" %>
  <% end %>

  <%= link_to "Back to surveys", surveys_path, class: "text-white bg-blue-600 hover:bg-blue-400 rounded-lg p-2 text-sm my-2 col-start-5" %>
</div>
