<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>SurveyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-soft-white h-full">
    <header class="bg-gray-800 text-white">
      <div class="container mx-auto px-5">
        <nav class="grid grid-cols-2 items-center justify-between py-5 h-20">
          <a href="/" class="text-2xl font-bold col-span-1 hover:text-gray-300">SurveyApp</a>
          
          <div class="col-span-1 text-right">
          <% if user_signed_in? %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-l font-bold hover:text-gray-300" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "text-l font-bold hover:text-gray-300" %>
            |
            <%= link_to "Sign up", new_user_registration_path, class: "text-l font-bold hover:text-gray-300" %>
            <% end %>
          </div>
        </nav>
      </div>
    </header>
    <%= render "shared/flash" %>
    <main class="container mx-auto px-5 h-auto">
      <%= yield %>
    </main>
  </body>
</html>
